In [14]:
import pandas as pd
import numpy as np
import os
import heapq

In [31]:
# http://www.albertauyeung.com/post/python-matrix-factorization/
class Matrix_Factorizer:
    def __init__(self):
        pass
    def read_matrices(self, size = "medium"):
        # Read_Data: load ratings matrices from csv & numpy data. If data is not available run Pre-Processing first.
        self.matrix_asFrame = pd.read_csv(f"df_ratings_matrix_{size}.csv")
        self.ratings_matrix = np.load("ratings_matrix.npy")

In [32]:
Factorizer = Matrix_Factorizer()
Factorizer.read_matrices("small")

In [34]:
Factorizer.matrix_asFrame.tail(5)

,Unnamed: 0,175415,170458,182197,163274,169625,168536,163193,163191,175430,...,308383,300411,214143,220197,203375,244940,168064,301925,262676,24350
206,532370,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
207,533379,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
208,533925,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
209,534478,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
210,535512,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1

In [33]:
Factorizer.ratings_matrix

array([[ 17208,     16,     12, ...,      0,      0,      0],
       [ 20490,      0,      0, ...,      0,      0,      0],
       [ 25554,      0,      0, ...,      0,      0,      0],
       ...,
       [533925,      0,      0, ...,      0,      0,      0],
       [534478,      0,      0, ...,      0,      0,      0],
       [535512,      0,      0, ...,      1,      1,      1]], dtype=int64)